.button-bar {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 4px;
  z-index: 1;
}

.pen-width-label {
  margin: auto;
  font-size: 8px;
  color: white;
  outline: solid 1px red;
}

.pen-width {
  width: 100px;
}

.map-btn {
  background-color: grey;
  border-radius: 5px;
  box-shadow: none;
  color: #ccc;
}
