.minimap {
  position: absolute;
  top: 80px;
  height: 360px;
  width: 360px;
  object-fit: cover;
}

.icon-container {
  position: absolute;
  top: 0;
  left: -32px;
  width: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.minion-icon-container {
  position: absolute;
  /* outline: solid 1px red; */
  top: -48px;
  height: 32px;
  width: 100%;
}

.minion-icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.ward-icons {
  display: inline-block;
}

.minimap-icons {
  position: relative;
  height: 180px;
  margin: 2px 0px;
  border-radius: 4px;
}

.minimap-champ-icon {
  height: clamp(16px, 32px, 64px);
  width: clamp(16px, 32px, 64px);
  margin: 0px;
  background-size: cover;
}

.minimap-trinket-icon {
  height: clamp(16px, 32px, 64px);
  width: clamp(16px, 32px, 64px);
  margin: 0px 4px;
  background-size: cover;
}
